
<div class="container mt-5 text-center">
    <h1 class="display-4 mb-2">Bienvenue dans mon application</h1>
    <p class="lead">
      Développée par Youness Slimi pour le test de développeur Java Full Stack chez CAPFI.
    </p>
  
    <div class="card mx-auto mt-3" style="max-width: 300px;">
      <img src="assets/pic.jpg" class="card-img-top img-fluid" alt="Votre Image">
      <div class="card-body">
        <h5 class="card-title mt-3">Youness Slimi</h5>
        <p class="card-text">Développeur Java Full Stack chez Albarid Bank.</p>
      </div>
    </div>
  </div>
  